#questions-and-answers {
  footer em {
    font-weight: bold;
    font-style: normal;
  }

  h3, .answers {
    font-size: 1.17em;
    margin-left: 1.75em;
  }
  h3::before, .answers::before {
    margin-left: -1.75em;
    float: left;
    font-weight: bold;
  }
  h3::before {
    content: "Q:";
  }
  .answers::before {
    content: "A:";
  }

  .answers section {
    font-size: initial;
  }

  .accordion {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    padding-left: 0;
  }

  .details {
    font-size: 0.8em;
    float: right;
  }

  .answers .details {
    float: none;
  }
}

.details {
  a, span {
    color: gray;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
  span {
    border-right: 1px solid;
    margin-right: 0.5em;
    padding-right: 0.5em;

    &:last-child {
      border-right: none;
    }
  }
}
