#questions-and-answers {
  p {
    margin: 0.65em 0;
  }

  img {
    max-height: 150px;
    max-width: 18%;
    border: 1px solid var(--foreground);
    margin-right: 10px;
    vertical-align: top;
  }

  input[type="file"] {
    margin-bottom: 0.25em;
  }

  h3, .answers {
    font-size: 1.17em;
    margin-left: 1.75em;
    margin-bottom: 0;
  }
  h3::before, .answers::before {
    margin-left: -1.75em;
    float: left;
    font-weight: bold;
  }
  h3::before {
    content: "Q:";
  }
  .answers::before {
    content: "A:";
  }

  .answers section {
    font-size: initial;
  }

  .accordion {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    padding-left: 0;
  }

  .listview-items {
    max-height: 50vh;
    border-bottom: 1px solid var(--foreground);
  }
}
