#related-items-and-comparisons {
  .card-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 380px;
    border: 1px solid black;
    margin: 15px;
  }
  .sample-product-list {
    display: flex;
  }
}
