.listview {
    > button {
        margin-right: 1em;
        margin-top: 0.5em;

        span {
            margin-left: 1em;
            float: right;
        }
    }
}

.listview-items {
  overflow-y: auto;
  border-bottom: 1px solid var(--foreground);
  padding-bottom: 0.5em;
}
