:root {
  --foreground: #525252;
  --background: #ebebeb;
}

a, body, input, select, button {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

body {
    margin: 0;
}

img {
  background-color: var(--background);
}

#root {
    max-width: 1280px;
    margin: auto;
    padding: 0 50px;
}

#overview > div:first-child {
  margin-left: -50px;
  margin-right: -50px;
}

.interact {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 1px solid var(--foreground);
    background: none;

    &:disabled {
      border-color: lightgray;
    }

    span {
        float: right;
    }
}

button.interact {
    text-align: left;
    cursor: pointer;

    &:hover {
      background: var(--background);
    }
}

input.interact {
  box-sizing: border-box;
  width: 100%;
  text-transform: unset;
}

select.interact:first-child {
    margin-right: 1em;
    flex-grow: 1;
}
